
DATABASE_URL=mongodb+srv://mohsin:mohsin@cluster0.iauaztt.mongodb.net/?retryWrites=true&w=majority
SESSION_ID=Prince~toAiCKYa#4E-vfakrKwYucbWw9Pf2kTB3vo_NlzsjV3c-lZ7bu0c
REMOVEBG_KEY=
PREFIX=. 
MODE=public
autoRead=false
statusview=false
